In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import os

from funcs import *

print(os.listdir('../data/movie'))

['sample_submission.csv', 'test.csv', 'output', '.ipynb_checkpoints', 'train.csv']

In [2]:
df_train = pd.read_csv('../data/movie/train.csv')
df_test = pd.read_csv('../data/movie/test.csv')

print(df_train.shape, df_test.shape)

(3000, 23) (4398, 22)

In [3]:
kesson_table(df_train)

                       Total    Percent
belongs_to_collection   2396  79.866667
genres                     7   0.233333
homepage                2054  68.466667
overview                   8   0.266667
poster_path                1   0.033333
production_companies     156   5.200000
production_countries      55   1.833333
runtime                    2   0.066667
spoken_languages          20   0.666667
tagline                  597  19.900000
Keywords                 276   9.200000
cast                      13   0.433333
crew                      16   0.533333